@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
  scroll-behavior: smooth;
}


body {
  color: #999;
  font-family: "Inter", "Times New Roman", sans-serif;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  animation: bg-scrolling-reverse 0.92s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  padding:0;
  margin:0;
  box-sizing: border-box;
}


@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

.site__main {
  margin: 0px auto;
  padding: 0 40px 40px;
  overflow: hidden;
  width: 80vw;
  font-weight: 600;
  line-height: 0.8;
  text-align: center;
  font-size: 3rem;
  color: #edeee9;
  font-family: 'Georgia';
  text-shadow: 0px 0px #252526, 1px 1px #252526, 2px 2px #252526, 3px 3px #252526, 4px 4px #252526, 5px 5px #252526, 6px 6px #252526, 7px 7px #252526, 8px 8px #252526, 9px 9px #252526, 10px 10px #252526, 11px 11px #252526, 12px 12px #252526, 13px 13px #252526, 14px 14px #252526, 15px 15px #252526, 16px 16px #252526, 17px 17px #252526, 18px 18px #252526, 19px 19px #252526, 20px 20px #252526, 21px 21px #313134, 22px 22px #313134, 23px 23px #313134, 24px 24px #313134, 25px 25px #313134, 26px 26px #313134, 27px 27px #313134, 28px 28px #313134, 29px 29px #313134, 30px 30px #313134, 31px 31px #313134, 32px 32px #313134, 33px 33px #313134, 34px 34px #313134, 35px 35px #313134, 36px 36px #313134, 37px 37px #313134, 38px 38px #313134, 39px 39px #313134, 40px 40px #313134, 41px 41px #3e3e40, 42px 42px #3e3e40, 43px 43px #3e3e40, 44px 44px #3e3e40, 45px 45px #3e3e40, 46px 46px #3e3e40, 47px 47px #3e3e40, 48px 48px #3e3e40, 49px 49px #3e3e40, 50px 50px #3e3e40, 51px 51px #3e3e40, 52px 52px #3e3e40, 53px 53px #3e3e40, 54px 54px #3e3e40, 55px 55px #3e3e40, 56px 56px #3e3e40, 57px 57px #3e3e40, 58px 58px #3e3e40, 59px 59px #3e3e40, 60px 60px #3e3e40, 61px 61px #4a4a4d, 62px 62px #4a4a4d, 63px 63px #4a4a4d, 64px 64px #4a4a4d, 65px 65px #4a4a4d, 66px 66px #4a4a4d, 67px 67px #4a4a4d, 68px 68px #4a4a4d, 69px 69px #4a4a4d, 70px 70px #4a4a4d, 71px 71px #4a4a4d, 72px 72px #4a4a4d, 73px 73px #4a4a4d, 74px 74px #4a4a4d, 75px 75px #4a4a4d, 76px 76px #4a4a4d, 77px 77px #4a4a4d, 78px 78px #4a4a4d, 79px 79px #4a4a4d, 80px 80px #4a4a4d, 81px 81px #575759, 82px 82px #575759, 83px 83px #575759, 84px 84px #575759, 85px 85px #575759, 86px 86px #575759, 87px 87px #575759, 88px 88px #575759, 89px 89px #575759, 90px 90px #575759, 91px 91px #575759, 92px 92px #575759, 93px 93px #575759, 94px 94px #575759, 95px 95px #575759, 96px 96px #575759, 97px 97px #575759, 98px 98px #575759, 99px 99px #575759, 100px 100px #575759;
  animation-name: animateShadow;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes animateShadow {
  0% {
    text-shadow: 0px 0px #252526, 1px 1px #252526, 2px 2px #252526, 3px 3px #252526, 4px 4px #252526, 5px 5px #252526, 6px 6px #252526, 7px 7px #252526, 8px 8px #252526, 9px 9px #252526, 10px 10px #252526, 11px 11px #252526, 12px 12px #252526, 13px 13px #252526, 14px 14px #252526, 15px 15px #252526, 16px 16px #252526, 17px 17px #252526, 18px 18px #252526, 19px 19px #252526, 20px 20px #252526, 21px 21px #313134, 22px 22px #313134, 23px 23px #313134, 24px 24px #313134, 25px 25px #313134, 26px 26px #313134, 27px 27px #313134, 28px 28px #313134, 29px 29px #313134, 30px 30px #313134, 31px 31px #313134, 32px 32px #313134, 33px 33px #313134, 34px 34px #313134, 35px 35px #313134, 36px 36px #313134, 37px 37px #313134, 38px 38px #313134, 39px 39px #313134, 40px 40px #313134, 41px 41px #3e3e40, 42px 42px #3e3e40, 43px 43px #3e3e40, 44px 44px #3e3e40, 45px 45px #3e3e40, 46px 46px #3e3e40, 47px 47px #3e3e40, 48px 48px #3e3e40, 49px 49px #3e3e40, 50px 50px #3e3e40
  }

  20% {
    text-shadow: 0px 0px #313134, 1px 1px #313134, 2px 2px #313134, 3px 3px #313134, 4px 4px #313134, 5px 5px #313134, 6px 6px #313134, 7px 7px #313134, 8px 8px #313134, 9px 9px #313134, 10px 10px #313134, 11px 11px #313134, 12px 12px #313134, 13px 13px #313134, 14px 14px #313134, 15px 15px #313134, 16px 16px #313134, 17px 17px #313134, 18px 18px #313134, 19px 19px #313134, 20px 20px #313134, 21px 21px #3e3e40, 22px 22px #3e3e40, 23px 23px #3e3e40, 24px 24px #3e3e40, 25px 25px #3e3e40, 26px 26px #3e3e40, 27px 27px #3e3e40, 28px 28px #3e3e40, 29px 29px #3e3e40, 30px 30px #3e3e40, 31px 31px #3e3e40, 32px 32px #3e3e40, 33px 33px #3e3e40, 34px 34px #3e3e40, 35px 35px #3e3e40, 36px 36px #3e3e40, 37px 37px #3e3e40, 38px 38px #3e3e40, 39px 39px #3e3e40, 40px 40px #3e3e40, 41px 41px #4a4a4d, 42px 42px #4a4a4d, 43px 43px #4a4a4d, 44px 44px #4a4a4d, 45px 45px #4a4a4d, 46px 46px #4a4a4d, 47px 47px #4a4a4d, 48px 48px #4a4a4d, 49px 49px #4a4a4d, 50px 50px #4a4a4d
  }

  40% {
    text-shadow: 0px 0px #3e3e40, 1px 1px #3e3e40, 2px 2px #3e3e40, 3px 3px #3e3e40, 4px 4px #3e3e40, 5px 5px #3e3e40, 6px 6px #3e3e40, 7px 7px #3e3e40, 8px 8px #3e3e40, 9px 9px #3e3e40, 10px 10px #3e3e40, 11px 11px #3e3e40, 12px 12px #3e3e40, 13px 13px #3e3e40, 14px 14px #3e3e40, 15px 15px #3e3e40, 16px 16px #3e3e40, 17px 17px #3e3e40, 18px 18px #3e3e40, 19px 19px #3e3e40, 20px 20px #3e3e40, 21px 21px #4a4a4d, 22px 22px #4a4a4d, 23px 23px #4a4a4d, 24px 24px #4a4a4d, 25px 25px #4a4a4d, 26px 26px #4a4a4d, 27px 27px #4a4a4d, 28px 28px #4a4a4d, 29px 29px #4a4a4d, 30px 30px #4a4a4d, 31px 31px #4a4a4d, 32px 32px #4a4a4d, 33px 33px #4a4a4d, 34px 34px #4a4a4d, 35px 35px #4a4a4d, 36px 36px #4a4a4d, 37px 37px #4a4a4d, 38px 38px #4a4a4d, 39px 39px #4a4a4d, 40px 40px #4a4a4d, 41px 41px #575759, 42px 42px #575759, 43px 43px #575759, 44px 44px #575759, 45px 45px #575759, 46px 46px #575759, 47px 47px #575759, 48px 48px #575759, 49px 49px #575759, 50px 50px #575759
  }

  60% {
    text-shadow: 0px 0px #4a4a4d, 1px 1px #4a4a4d, 2px 2px #4a4a4d, 3px 3px #4a4a4d, 4px 4px #4a4a4d, 5px 5px #4a4a4d, 6px 6px #4a4a4d, 7px 7px #4a4a4d, 8px 8px #4a4a4d, 9px 9px #4a4a4d, 10px 10px #4a4a4d, 11px 11px #4a4a4d, 12px 12px #4a4a4d, 13px 13px #4a4a4d, 14px 14px #4a4a4d, 15px 15px #4a4a4d, 16px 16px #4a4a4d, 17px 17px #4a4a4d, 18px 18px #4a4a4d, 19px 19px #4a4a4d, 20px 20px #4a4a4d, 21px 21px #575759, 22px 22px #575759, 23px 23px #575759, 24px 24px #575759, 25px 25px #575759, 26px 26px #575759, 27px 27px #575759, 28px 28px #575759, 29px 29px #575759, 30px 30px #575759, 31px 31px #575759, 32px 32px #575759, 33px 33px #575759, 34px 34px #575759, 35px 35px #575759, 36px 36px #575759, 37px 37px #575759, 38px 38px #575759, 39px 39px #575759, 40px 40px #575759, 41px 41px #252526, 42px 42px #252526, 43px 43px #252526, 44px 44px #252526, 45px 45px #252526, 46px 46px #252526, 47px 47px #252526, 48px 48px #252526, 49px 49px #252526, 50px 50px #252526
  }

  80% {
    text-shadow: 0px 0px #575759, 1px 1px #575759, 2px 2px #575759, 3px 3px #575759, 4px 4px #575759, 5px 5px #575759, 6px 6px #575759, 7px 7px #575759, 8px 8px #575759, 9px 9px #575759, 10px 10px #575759, 11px 11px #575759, 12px 12px #575759, 13px 13px #575759, 14px 14px #575759, 15px 15px #575759, 16px 16px #575759, 17px 17px #575759, 18px 18px #575759, 19px 19px #575759, 20px 20px #575759, 21px 21px #252526, 22px 22px #252526, 23px 23px #252526, 24px 24px #252526, 25px 25px #252526, 26px 26px #252526, 27px 27px #252526, 28px 28px #252526, 29px 29px #252526, 30px 30px #252526, 31px 31px #252526, 32px 32px #252526, 33px 33px #252526, 34px 34px #252526, 35px 35px #252526, 36px 36px #252526, 37px 37px #252526, 38px 38px #252526, 39px 39px #252526, 40px 40px #252526, 41px 41px #313134, 42px 42px #313134, 43px 43px #313134, 44px 44px #313134, 45px 45px #313134, 46px 46px #313134, 47px 47px #313134, 48px 48px #313134, 49px 49px #313134, 50px 50px #313134
  }

  100% {
    text-shadow: 0px 0px #252526, 1px 1px #252526, 2px 2px #252526, 3px 3px #252526, 4px 4px #252526, 5px 5px #252526, 6px 6px #252526, 7px 7px #252526, 8px 8px #252526, 9px 9px #252526, 10px 10px #252526, 11px 11px #252526, 12px 12px #252526, 13px 13px #252526, 14px 14px #252526, 15px 15px #252526, 16px 16px #252526, 17px 17px #252526, 18px 18px #252526, 19px 19px #252526, 20px 20px #252526, 21px 21px #313134, 22px 22px #313134, 23px 23px #313134, 24px 24px #313134, 25px 25px #313134, 26px 26px #313134, 27px 27px #313134, 28px 28px #313134, 29px 29px #313134, 30px 30px #313134, 31px 31px #313134, 32px 32px #313134, 33px 33px #313134, 34px 34px #313134, 35px 35px #313134, 36px 36px #313134, 37px 37px #313134, 38px 38px #313134, 39px 39px #313134, 40px 40px #313134, 41px 41px #3e3e40, 42px 42px #3e3e40, 43px 43px #3e3e40, 44px 44px #3e3e40, 45px 45px #3e3e40, 46px 46px #3e3e40, 47px 47px #3e3e40, 48px 48px #3e3e40, 49px 49px #3e3e40, 50px 50px #3e3e40
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f9f9f9; 
  border-radius: 8px;   
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #e0e0e0;
}

.input-group {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  height: auto;
  position: relative;
  gap: 1rem;
}

.input-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}
.input-wrap .input-label {
  margin-left: 0rem;
  margin-bottom: 0.3rem;
  display: block;
  font-size: 15px;
  color: #5e6272;
}

.input-wrap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.input-label {
  text-align: left;
  margin-left: 0.4rem;
  cursor: pointer;
  position: relative;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;  
  margin: 0.5rem 0;           
}

.input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* width: 100%; */
  border-radius: 7px;
  padding: 8px 10px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 0.1rem solid #bbc1e1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="text"]:hover {
  border-color: #275efe;
}

.input[type="text"]:focus {
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  border-color: #275efe;
}

.input[type="text"]:disabled {
  background: #f6f8ff;
  cursor: not-allowed;
  opacity: 0.9;
  border-color: #bbc1e1;
}


.input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  width: 21px;
  border-radius: 7px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 0.1rem solid #bbc1e1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="checkbox"]:hover {
  border-color: #275efe;
}

.input[type="checkbox"]:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  top: 3px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="checkbox"]:checked {
  background: #05f;
  border: 1px solid #05f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="checkbox"]:checked:after {
  -webkit-transform: rotate(43deg);
  transform: rotate(43deg);
}

.input[type="checkbox"]:focus {
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  border-color: #275efe;
}

.input[type="checkbox"]:disabled {
  background: #f6f8ff;
  cursor: not-allowed;
  opacity: 0.9;
  border-color: #bbc1e1;
}

.input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  width: 21px;
  border-radius: 9999px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 0.1rem solid #bbc1e1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="radio"]:hover {
  border-color: #275efe;
}

.input[type="radio"]:after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  border-radius: 9999px;
  background: #fff;
  opacity: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="radio"]:checked {
  background: #05f;
  border: 1px solid #05f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="radio"]:checked:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 1;
}

.input[type="radio"]:focus {
  box-shadow: 0 0 0 2px rgba(39, 94, 254, 0.3);
  border-color: #275efe;
}

.input[type="radio"]:disabled {
  background: #f6f8ff;
  cursor: not-allowed;
  opacity: 0.9;
  border-color: #bbc1e1;
}

.input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 7px;
  padding: 8px 10px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: unset;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 0.1rem solid #275efe;
  background: #275efe;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input[type="submit"]:hover {
  border-color: #275efe;
}

.input[type="submit"]:focus {
  box-shadow: 0 0 0 3px rgba(39, 94, 254, 0.3);
  border-color: #275efe;
}

.input[type="submit"]:disabled {
  background: #f6f8ff;
  cursor: not-allowed;
  opacity: 0.9;
  border-color: #bbc1e1;
}

.wave-result span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bolder;
  animation: flip 1.9s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

#resultContent {
  padding: 20px;
  background-color: #f9f9f9; 
  color: #0f0f0f;
  border-radius: 8px;   
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #e0e0e0;
  max-width: 800px; 
  margin: 40px auto; 
}

.result-article {
  text-align: left;
  border-bottom: 3px solid #bcbcbc; 
  padding: 10px 0; 
  margin-bottom: 10px; 
}

.result-article:last-child {
  border-bottom: none; 
}

.result-article p {
  margin: 0; 
}


#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-family: Arial, sans-serif; 
}

#pagination button {
  background-color: #007BFF;
  color: white; 
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#pagination button:hover {
  border-color: #275efe;
}

#pagination button:focus {
  box-shadow: 0 0 0 3px rgba(39, 94, 254, 0.3);
  border-color: #275efe;
}

#pagination button:disabled {
  background: #f6f8ff;
  cursor: not-allowed;
  opacity: 0.9;
  border-color: #bbc1e1;
}

#pagination span {
  margin: 0 10px; 
  font-weight: bold;
  color: #333; 
}

